<h2>Listing seminartermine</h2>

<%= render :partial => 'tabelle', :locals => {:seminartermine => @seminartermine} %>

<%= will_paginate @seminartermine %>

<%= link_to 'New Seminartermin', new_seminartermin_path %>
