<h2>Listing seminars</h2>

<%= table_for @seminars do |t|
  t.data :titel, :slug, :preis, :kategorie, :actions => :all do
    t.data :titel, :cached_slug, :preis, :kategorie
    t.cell(:seminartermine) do |s|
      link_to "Seminartermine (#{s.seminartermine_count})", :controller => 'seminartermine',
        :action => 'index', :seminar_id => s.cached_slug unless s.seminartermine.blank?
    end
  end
end %>

<%= will_paginate @seminars %>

<%= link_to 'New Seminar', new_seminar_path %>
